<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>飲料點餐</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/myall.css">
</head>

<body>
    <div class="container my-5" id="app">
        <div class="row"><!--:class="{'active' : tempSelected.name == item.name}" 出現藍色-->
            <div class="col-md-4">
                <div class="list-group"> 
                    <a href="#" class="list-group-item list-group-item-action" :class="{'active' : tempSelected.name == item.name}" v-for="(item, key) in product"
                        @click="selectedProduct(item)">
                        <p>{{ item.name }}</p>
                        <div class="d-flex justify-content-between">
                            <p>{{ item.engName }}</p>
                            <p>NT${{ item.price }}元</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card"> <!--!tempSelected.name沒有這個 遮罩消失-->
                    <div class="card-body">
                        <div v-if="!tempSelected.name" class="text-white d-flex align-items-center justify-content-center h2 fw-700" style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;background-color: rgba(0, 0, 0, 0.2); z-index: 100;">先選擇飲品</div>
                        <div class="mb-3">
                            <label for="" class="form-label">數量</label>
                            <input type="number" min="0" max="20" class="form-control" id="" v-model="tempSelected.count">
                        </div>
                        <div class="mb-3">
                            <!--!tempSelected.hasOwnProperty('defaults') 意思是false 
                                "必須要執行"-->
                            <!--tempSelected.defaults.ice !== '' && tempSelected.defaults.ice != item  意思是true  不等於空白並且不等於item 
                                "才能執行右邊"-->
                                <div>冰塊*</div>
                                <div class="form-check form-check-inline" v-for="(item, key) in iceType">
                                    <input class="form-check-input" type="radio" name="iceType" id="" :value="item"
                                     :disabled="!tempSelected.hasOwnProperty('defaults') || (tempSelected.defaults.ice !== '' && tempSelected.defaults.ice != item)" v-model="tempSelected.ice">
                                    <label class="form-check-label" for="">
                                        {{ item }}
                                    </label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div>甜度*</div>
                                <div class="form-check form-check-inline" v-for="(item, key) in sugarType">
                                    <input class="form-check-input" type="radio" name="sugarType" id="" :value="item"
                                     :disabled="!tempSelected.hasOwnProperty('defaults') || (tempSelected.defaults.sugar !== '' && tempSelected.defaults.sugar != item)" v-model="tempSelected.sugar">
                                    <label class="form-check-label" for="">
                                        {{ item }}
                                    </label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div>加料*</div>
                                <div class="form-check form-check-inline" v-for="(item, key) in toppingsType">
                                    <input class="form-check-input" type="checkbox" name="toppingsType" id="" :value="item"
                                     :disabled="!tempSelected.hasOwnProperty('defaults') || tempSelected.defaults.toppings.includes(item)" v-model="tempSelected.toppings">
                                    <label class="form-check-label" for="">
                                        {{ item }}
                                    </label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="">備註</label>
                                <textarea name="" id="" cols="30" rows="3" class="form-control" v-model="tempSelected.notice"></textarea>
                            </div>
                            <div class="d-flex">
                                <button class="btn btn-outline-success w-100 me-1">取消</button>
                                <button class="btn btn-success w-100" @click="addToOrder(tempSelected)">加入</button>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3"> <!--v-if="orderList.length > 0" 長度大於零 按下按鈕出現-->
                        <div class="card-body" v-if="orderList.length > 0" >
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>品項</th>
                                        <th>冰塊</th>
                                        <th>甜度</th>
                                        <th>加料</th>
                                        <th>單價</th>
                                        <th>數量</th>
                                        <th>小計</th>
                                    </tr>
                                </thead>
                                <tbody> <!--.toString():陣列轉字串的方法--> <!--按下加入按鈕渲染出內容-->
                                    <tr v-for="(item, key) in orderList">
                                        <td>{{ item.name }}</td>  
                                        <td>{{ item.ice }}</td>
                                        <td>{{ item.sugar }}</td>
                                        <td>{{ item.toppings .toString() }}</td>
                                        <td>{{ item.price }}</td>
                                        <td>{{ item.count }}</td>
                                        <td>{{ item.total }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="btn btn-secondary w-100"  @click="generateOrder()">產生訂單</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card mt-3">
                        <div class="card-body" v-if="checkOrder.time"> <!--v-if="checkOrder.time" 等於時間 出現-->
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>品項</th>
                                        <th>冰塊</th>
                                        <th>甜度</th>
                                        <th>加料</th>
                                        <th>單價</th>
                                        <th>數量</th>
                                        <th>小計</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, key) in checkOrder.order"> <!--按下產生訂單按鈕渲染出內容-->
                                        <td>{{ item.name }}</td>  
                                        <td>{{ item.ice }}</td>
                                        <td>{{ item.sugar }}</td>
                                        <td>{{ item.toppings .toString() }}</td>
                                        <td>{{ item.price }}</td>
                                        <td>{{ item.count }}</td>
                                        <td>{{ item.total }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="mt-4">      <!--按下產生訂單按鈕 下一個畫面渲染出內容-->
                                <p>訂單成立時間: {{ checkOrder.time }}</p>
                                <p>餐點數量: {{ checkOrder.order.length }}</p>
                                <p>付款狀態: 未付款</p>
                                <p class="text-end">共NT${{ checkOrder.total }}元</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/vue.global.js"></script>
    <script>
        var App = {
            data() {
                return {
                    checkOrder:{   //按下產生訂單後的畫面
                        time:'',
                        total: 0,
                        order:[]
                    },
                    orderList: [], //紀錄還未產生訂單的購物清單
                    tempSelected: {},
                    iceType: ['正常冰', '少冰', '微冰', '去冰', '熱'],
                    sugarType: ['全糖', '七分', '半糖', '三分', '無糖'],
                    toppingsType: ['珍珠', '粉條', '小粉圓', '椰果', '芋頭'],
                    product: [
                        {
                            name: '阿薩姆奶茶(珍珠)',
                            engName: 'Assam milk tea',
                            price: 60,
                            defaults: {
                                ice: '少冰',
                                sugar: '七分',
                                toppings: ['珍珠', '小粉圓']
                            }
                        },
                        {
                            name: '白毫烏龍茶',
                            engName: 'Pekoe Oolong Tea',
                            price: 40,
                            defaults: {
                                ice: '少冰',
                                sugar: '',
                                toppings: ['']
                            }
                        },
                        {
                            name: '椰果奶茶',
                            engName: 'Coconut Milk Tea',
                            price: 75,
                            defaults: {
                                ice: '',
                                sugar: '',
                                toppings: ['椰果']
                            }
                        },
                        {
                            name: '青草茶',
                            engName: 'Herbal tea',
                            price: 30,
                            defaults: {
                                ice: '去冰',
                                sugar: '',
                                toppings: ['']
                            }
                        }
                    ]
                }
            },
            methods: {
                selectedProduct(product) {
                     //ice: product.defaults.ice !== "" ? 不為空時 依照預設的來設定，不然依照這裡的設定 product.defaults.ice : '正常冰',
                    this.tempSelected = {
                        ...product,
                        count: '1',
                        ice: product.defaults.ice !== "" ? product.defaults.ice : '正常冰',
                        sugar: product.defaults.sugar !=="" ? product.defaults.sugar : '全糖',
                        toppings: [],
                        notice: ''
                    }
                }, 
                addToOrder(product) { //小計的寫法
                    this.orderList.push(
                        {
                            ...product,
                            total: (product.price + product.toppings.length*10) * product.count
                        }
                    );
                },
                generateOrder(){  //產生訂單
                    var time = new Date().toLocaleString();
                    this.checkOrder.time = time;
                    this.checkOrder.order = this.orderList;
                    this.countTotal(); //總價
                    this.reset();
                },
                countTotal(){
                    var total = 0;
                    this.orderList.forEach((item, key) => {
                        total = total + item.total;
                    });
                    this.checkOrder.total = total;
                },
                reset(){                          //當按下產生訂單後資料傳到下一個畫面 原本的畫面清空
                    this.tempSelected = {},
                    this.orderList = []
                }
            }
        }
        Vue.createApp(App).mount('#app');
    </script>
</body>

</html>