<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>飲料點餐</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/myall.css">
</head>

<body>
    <div class="container my-5" id="app">
        <div class="row">
            <div class="col-md-4">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action" v-for="(item, key) in product"
                        @click="selectedProduct(item)">
                        <p>{{ item.name }}</p>
                        <div class="d-flex justify-content-between">
                            <p>{{ item.engName }}</p>
                            <p>NT${{ item.price }}元</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="" class="form-label">數量</label>
                            <input type="number" min="0" max="20" class="form-control" id="">
                        </div>
                        <div class="mb-3">
                            <div>冰塊*</div>
                            <div class="form-check form-check-inline" v-for="(item, key) in iceType">
                                <input class="form-check-input" type="radio" name="iceType" id="" :value="item">
                                <label class="form-check-label" for="">
                                    {{ item }}
                                </label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div>甜度*</div>
                            <div class="form-check form-check-inline" v-for="(item, key) in sugarType">
                                <input class="form-check-input" type="radio" name="sugarType" id="" :value="item">
                                <label class="form-check-label" for="">
                                    {{ item }}
                                </label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div>加料*</div>
                            <div class="form-check form-check-inline" v-for="(item, key) in toppingsType">
                                <input class="form-check-input" type="checkbox" name="toppingsType" id="" :value="item">
                                <label class="form-check-label" for="">
                                    {{ item }}
                                </label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="">備註</label>
                            <textarea name="" id="" cols="30" rows="3" class="form-control"></textarea>
                        </div>
                        <div class="d-flex">
                            <button class="btn btn-outline-success w-100 me-1">取消</button>
                            <button class="btn btn-success w-100">加入</button>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>品項</th>
                                    <th>冰塊</th>
                                    <th>甜度</th>
                                    <th>加料</th>
                                    <th>單價</th>
                                    <th>數量</th>
                                    <th>小計</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>XX</td>
                                    <td>XX</td>
                                    <td>XX</td>
                                    <td>XX</td>
                                    <td>XX</td>
                                    <td>XX</td>
                                    <td>XX</td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-secondary w-100">產生訂單</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card mt-3">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>品項</th>
                                    <th>冰塊</th>
                                    <th>甜度</th>
                                    <th>加料</th>
                                    <th>單價</th>
                                    <th>數量</th>
                                    <th>小計</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>XX</td>
                                    <td>XX</td>
                                    <td>XX</td>
                                    <td>XX</td>
                                    <td>XX</td>
                                    <td>XX</td>
                                    <td>XX</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="mt-4">
                            <p>訂單成立時間: XXXXXX</p>
                            <p>餐點數量: 10</p>
                            <p>付款狀態: 未付款</p>
                            <p class="text-end">共NT$XXX元</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/vue.global.js"></script>
    <script>
        var App = {
            data() {
                return {
                    tempSelected: {},
                    iceType: ['正常冰', '少冰', '微冰', '去冰', '熱'],
                    sugarType: ['全糖', '七分', '半糖', '三分', '無糖'],
                    toppingsType: ['珍珠', '粉條', '小粉圓', '椰果', '芋頭'],
                    product: [
                        {
                            name: '阿薩姆奶茶(珍珠)',
                            engName: 'Assam milk tea',
                            price: 60,
                            defaults: {
                                ice: '少冰',
                                sugar: '七分',
                                toppings: ['珍珠']
                            }
                        },
                        {
                            name: '白毫烏龍茶',
                            engName: 'Pekoe Oolong Tea',
                            price: 40,
                            defaults: {
                                ice: '少冰',
                                sugar: '',
                                toppings: ['']
                            }
                        },
                        {
                            name: '椰果奶茶',
                            engName: 'Coconut Milk Tea',
                            price: 75,
                            defaults: {
                                ice: '',
                                sugar: '',
                                toppings: ['椰果']
                            }
                        },
                        {
                            name: '青草茶',
                            engName: 'Herbal tea',
                            price: 30,
                            defaults: {
                                ice: '去冰',
                                sugar: '',
                                toppings: ['']
                            }
                        }
                    ]
                }
            },
            methods: {
                selectedProduct(product) {
                    this.tempSelected = {
                        ...product,
                        count: '1',
                        ice: product.defaults.ice !== "" ? product.defaults.ice : '正常冰',
                    }
                }
            }
        }
        Vue.createApp(App).mount('#app');
    </script>
</body>

</html>